@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-1440p: 90rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.stack-card {
  will-change: transform;
}

.hide {
  display: none;
}
