.articleCardContainer {
  width: 580px;
  height: 400px;

  z-index: 10;
  transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
  transform-origin: center;
}

.articleCardContainerEnlarged {
  width: 1700px;
  height: 85vh;

  z-index: 50;

  margin-left: -20%;
  margin-right: -20%;

  transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.articleCardContainer img,
.articleCardContainerEnlarged img {
  transition: transform 0.6s ease;
}
